#upperDisplay {
	position: absolute;
	top: 0;
	width: 100%;
	color: #FFFFFF;
}

#upperDisplay > table {
	width: 100%;
}


#cameraBox {
	position: relative;
	color: #fff;
	padding: 10px;
	/*border: 1px solid white;*/
	border-radius: 10px;
	margin: 10px;
	display: inline-block;
	float: left;
	/*box-shadow: 1px 1px 1px #000000;*/
	background: rgba(0, 0, 0, 0.125);
}

#cameraBox h5 {
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	text-shadow: 1px 1px 2px #000000;
}

#statsBox {
	position: relative;
	color: #fff;
	padding: 10px;
	/*border: 1px solid white;*/
	border-radius: 10px;
	margin: 10px;
	display: inline-block;
	float: right;
	/*box-shadow: 1px 1px 1px #000000;*/
	background: rgba(0, 0, 0, 0.125);
}

#statsBox h5 {
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	text-shadow: 1px 1px 2px #000000;
}

#stats {
	position: relative !important;
	z-index: 100000 !important;
	/*box-shadow: 1px 1px 1px #000000;*/
}