/*@font-face {
	font-family: 'lato-black-webfont';
	src: url('./../../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-black-webfont.woff') format('woff'), url('./../../fonts/lato-black-webfont.ttf') format('truetype'), url('./../../fonts/lato-black-webfont.svg#lato-black-webfont') format('svg');
}

@font-face {
	font-family: 'lato-bold-webfont';
	src: url('./../../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-bold-webfont.woff') format('woff'), url('./../../fonts/lato-bold-webfont.ttf') format('truetype'), url('./../../fonts/lato-bold-webfont.svg#lato-bold-webfont') format('svg');
}

@font-face {
	font-family: 'lato-hairline-webfont';
	src: url('./../../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-hairline-webfont.woff') format('woff'), url('./../../fonts/lato-hairline-webfont.ttf') format('truetype'), url('./../../fonts/lato-hairline-webfont.svg#lato-hairline-webfont') format('svg');
}

@font-face {
	font-family: 'lato-heavy-webfont';
	src: url('./../../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-heavy-webfont.woff') format('woff'), url('./../../fonts/lato-heavy-webfont.ttf') format('truetype'), url('./../../fonts/lato-heavy-webfont.svg#lato-heavy-webfont') format('svg');
}

@font-face {
	font-family: 'lato-light-webfont';
	src: url('./../../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-light-webfont.woff') format('woff'), url('./../../fonts/lato-light-webfont.ttf') format('truetype'), url('./../../fonts/lato-light-webfont.svg#lato-light-webfont') format('svg');
}

@font-face {
	font-family: 'lato-medium-webfont';
	src: url('./../../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-medium-webfont.woff') format('woff'), url('./../../fonts/lato-medium-webfont.ttf') format('truetype'), url('./../../fonts/lato-medium-webfont.svg#lato-medium-webfont') format('svg');
}

@font-face {
	font-family: 'lato-regular-webfont';
	src: url('./../../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-regular-webfont.woff') format('woff'), url('./../../fonts/lato-regular-webfont.ttf') format('truetype'), url('./../../fonts/lato-regular-webfont.svg#lato-regular-webfont') format('svg');
}

@font-face {
	font-family: 'lato-semibold-webfont';
	src: url('./../../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-semibold-webfont.woff') format('woff'), url('./../../fonts/lato-semibold-webfont.ttf') format('truetype'), url('./../../fonts/lato-semibold-webfont.svg#lato-semibold-webfont') format('svg');
}

@font-face {
	font-family: 'lato-thin-webfont';
	src: url('./../../fonts/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('./../../fonts/lato-thin-webfont.woff') format('woff'), url('./../../fonts/lato-thin-webfont.ttf') format('truetype'), url('./../../fonts/lato-thin-webfont.svg#lato-thin-webfont') format('svg');
}*/