 #lowerDisplay {
	display: table;
	width: 100%;
}

#lowerDisplay > div {
	float: none;
    display: table-cell;
  	height: 100%;
}

.controllerDebug {
	position: relative;
	color: #fff;
	bottom: 0;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	float: left;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
}

.controllerDebug h5 {
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	text-shadow: 1px 1px 2px #000000;
}

.controllerDebug ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.controllerDebug li {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
}

.performerMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: inline-block;
	float: left;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
	width: 550px;
}

.performerMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.performerMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
}

.performerMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.performerMenu span {
	white-space: nowrap;
	margin-right: auto;
    margin-left: auto;
	display: table;
}

.performerMenu .glyphicon {
	cursor: pointer; cursor: hand;
}

.performerMenu input {
	background: none;
	border:none;
	border-bottom: 1px solid #ffffff;
	width: 25px;
}

.performerMenu .Select {
	width: 130px;
}

.performerMenu .Select .Select-control {
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	border-bottom:1px solid #ffffff !important;
	border-radius: 0;
}

#performerTable {
	margin-bottom: 0;
}

#performerTable .fa {
	cursor: pointer;
	margin-top: 3px;
}

#performerTable .Select-value-label {
	color: #ffffff !important;
}

#performerTable .Select-arrow {
	border-color: #ffffff transparent transparent !important;
}

#performerTable .Select-menu-outer {
	margin-top:-200%;
}

#performerTable td {
	padding: 3px;
	border: none;
}

#performerTable tbody {
  display: block;
  max-height: 95px;
  overflow-y: auto;
}

#performerTable thead,
#performerTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#performerTable th {
	text-align: center;
	border-width: 1px;
}

.performerMenu .loadBVHLink {
	display: inline-flex;
	float: right;
	cursor: pointer;
}

.performerMenu .loadBVHLink span {
	margin-left: 10px;
}

.performerMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.performerMenu li {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
}


.performerColor {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 10px;
	pointer-events: all;
}

.environmentMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: block;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
	width: 200px;
	float: right;
}

.environmentMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.environmentMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.environmentMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.environmentMenu #environmentTable {
	width: 100%;
}

.environmentMenu #environmentTable td {
	padding: 5px 10px;
	text-align: center;
}

#controlsTable {
	margin-bottom: 0;
	background: none;
}

#controlsTable td {
	border: none;
	padding: 0;
}

.environmentMenu #controlsTable td {
	padding: 5px 5px;
}

.environmentMenu .glyphicon {
	cursor: pointer; cursor: hand;
}

.environmentMenu input {
	background: none;
	border:none;
	border-bottom: 1px solid #ffffff;
	width: 50px;
}

.environmentMenu .Select {
	width: 130px;
}

.environmentMenu .Select .Select-control {
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	border-bottom:1px solid #ffffff !important;
	border-radius: 0;
}

#environmentTable .Select-value-label {
	color: #ffffff !important;
}

#environmentTable .Select-arrow {
	border-color: #ffffff transparent transparent !important;
}

.environmentMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.environmentMenu li {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
}

.environmentColor {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 10px;
	pointer-events: all;
}

#environmentModalBody > div > div.close-button {
	display: none;
}

#performerModalBody > div > div.close-button {
	display: none;
}

.vrMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: table;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
	margin-right: auto;
	margin-left: auto;
}

.vrMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
	text-align: center;
}

.vrMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: center;
}

.vrMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.vrMenuBody button {
	width: 80px;
}

.vrMenuBody button i, .vrMenuBody button img {
	position: relative;
    display: block;
    width: 100%;
}

#performer-pn-options {
	cursor: pointer;
	background: none;
	margin: 0;
	pointer-events: all;
}

#performer-pn-options td {
	border: none;
	padding: 3px;
}

#playbackDelay, #offset {
	padding: 0 5px;
}

.rc-input-number {
	height: 28px;
}

#performer-options-popover {
	pointer-events: all;
}

#colorSquare {
	border: 1px solid black;
	width: 15px;
	height: 15px;
	border-radius: 3px;
	margin: 3px auto;
	pointer-events: all;
}

.styleOptionsTable {
	margin-bottom: 0;
}

.styleOptionsTable td {
	cursor: pointer;
}

.styleOptionsTable td > span {
	margin: 3px auto;
	display: table;
}

#positionOffsetTable {
	margin-bottom: 0;
}

.styleMaterialsTable {
	cursor: pointer;
	margin: 0;
	margin-top: 10px;
}

.styleMaterialsTable td > span {
	margin: 3px auto;
	display: table;
}

.performerCameraTable {
	cursor: pointer;
	margin: 0;
	margin-top: 10px;
}

.performerCameraTable td > span {
	margin: 3px auto;
	display: table;
}

#performer-styles-popover {
	pointer-events: all;
}

.chrome-picker {
	box-shadow: none !important;
}

.list-group {
	margin-bottom: 0;
}

.react-dat-gui {
	position: relative;
	right: auto;
	top: auto;
	width: 100%;
}

.react-dat-gui .dg {
	color: #000000;
	text-shadow: none;
}

.react-dat-gui .dg li {
	height: auto;
	background: none;
	border-left: none;
}

.dg li:not(.folder),
.react-dat-gui .cr:not(:last-child) {
	border-bottom-color: #ddd;
	line-height: 15px;
	padding-top: 5px;
}

.react-dat-gui .cr.number .slider {
	border-width: 1px;
	background-color: #FFFFFF;
	height: 15px;
}

.react-dat-gui .cr input[type=text], .react-dat-gui .cr input[type=number],
.react-dat-gui .cr input[type=text]:hover, .react-dat-gui .cr input[type=number]:hover,
.react-dat-gui .cr input[type=text]:focus, .react-dat-gui .cr input[type=number]:focus {
	background: none;
	border: none;
	padding: 0;
	padding-left: 5px;
}

.react-dat-gui .cr.color .popover {
	display: block;
	position: absolute;
	top: auto;
	bottom: 25px;
}

.react-dat-gui .cr.color .swatch {
	border-width: 1px;
	padding: 0;
}

#performer-effects-popover {
	pointer-events: all;
	width: 272px;
}

.popover-content .list-group-item {
	border: none;
}

.popover-content .list-group-item {
	border: none;
	border-bottom: 2px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}

.popover-content .list-group-item:last-child {
	border: none !important;
	padding-bottom: 15px;
}

.popover-content .list-group-item .btn-group {
	padding-top: 5px;
	padding-bottom: 10px;
}

#performer-effects-dropdown > div {
	width: 100%;
	padding-bottom: 5px;
}

#performer-effect-dropdown {
	width: 100%;
  font-size: 14px;
}

#performerParts {
	border-bottom: 1px solid #ddd;
	background: url('../images/performer_outline.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 100%;
	min-height: 235px;
}

#performerParts .btn {
	min-width: 15px;
	min-height: 15px;
	position: absolute;
}

#performerParts .active {
	background-color: #00ff00;
  border-color: #00ff00;
}

#performerParts #hips_button.btn  { left: 116px; bottom: 80px; }

#performerParts #rightupleg_button.btn  { left: 96px; bottom: 80px; }
#performerParts #rightleg_button.btn  { left: 86px; bottom: 46px; }
#performerParts #rightfoot_button.btn  { left: 76px; bottom: 19px; }

#performerParts #leftupleg_button.btn  { left: 137px; bottom: 80px; }
#performerParts #leftleg_button.btn  { left: 142px; bottom: 46px; }
#performerParts #leftfoot_button.btn  { left: 154px; bottom: 16px; }

#performerParts #spine_button.btn  { left: 117px; bottom: 109px; }
#performerParts #spine3_button.btn  { left: 117px; bottom: 138px; }
#performerParts #head_button.btn  { left: 117px; bottom: 177px; }

#performerParts #rightarm_button.btn  { left: 93px; bottom: 142px; }
#performerParts #rightforearm_button.btn  { left: 59px; bottom: 129px; }
#performerParts #righthand_button.btn  { left: 30px; bottom: 134px; }

#performerParts #leftarm_button.btn  { left: 142px; bottom: 142px; }
#performerParts #leftforearm_button.btn  { left: 170px; bottom: 129px; }
#performerParts #lefthand_button.btn  { left: 200px; bottom: 133px; }

.react-dat-gui {
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.popover-content tbody > tr > td {
	border: none;
}

.popover {
	/* top: auto !important; */
	/* bottom: 63px !important; */
}

.environmentMenu .panel-body > div:first-child {
	width: 100%;
}

#environment-dropdown {
	width: 100%;
	font-size: 14px;
}

#lowerDisplay ul.dropdown-menu > li > a {
	text-shadow: none;
}

.react-dat-gui li.folder ul {
	margin-left: 0;
}

.react-dat-gui li.folder ul > li:first-child {
	border-top: 1px solid #ddd;
}

.react-dat-gui li.folder ul > li:last-child {
	border-bottom: none;
}

#performer-effects-popover .react-dat-gui li.folder .title {
	background-color: #FFF;
	color: #000;
	padding-left: 0;
}

#performer-effects-popover .react-dat-gui li.folder .title:before {
	content:'';
  display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #2f2f2f;
	font-size: 0;
	line-height: 0;
	margin-left: 5px;
	margin-right: 5px;
}

#performer-effects-popover .react-dat-gui li.closed .title:before {
	content:'';
  display: inline-block;
	width: 0; 
	height: 0; 
	border-bottom: 5px solid transparent;  /* left arrow slant */
	border-top: 5px solid transparent; /* right arrow slant */
	border-left: 5px solid #2f2f2f; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.dg .cr.button:hover, .dg .cr.boolean:hover, .dg .cr.function:hover {
	background-color: #fff;
}

.renderStyleMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: block;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
	width: 200px;
	float: right;
}

.renderStyleMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.renderStyleMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.renderStyleMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.renderStyleMenu #renderStyleTable {
	width: 100%;
}

.renderStyleMenu #renderStyleTable th {
	border-bottom: 1px solid #ffffff;
	text-align: center;
	padding-bottom: 5px;
	text-shadow: none;
}

.renderStyleMenu #renderStyleTable td {
	padding: 5px 10px;
	text-align: center;
	text-shadow: none;
}

.renderStyleMenu #controlsTable td {
	padding: 5px 5px;
}

.renderStyleMenu .glyphicon {
	cursor: pointer; cursor: hand;
}

.renderStyleMenu input {
	background: none;
	border:none;
	border-bottom: 1px solid #ffffff;
	width: 50px;
}

.renderStyleMenu .Select {
	width: 130px;
}

.renderStyleMenu .Select .Select-control {
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	border-bottom:1px solid #ffffff !important;
	border-radius: 0;
}

#renderStyleTable .Select-value-label {
	color: #ffffff !important;
}

#renderStyleTable .Select-arrow {
	border-color: #ffffff transparent transparent !important;
}

.renderStyleMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.renderStyleMenu li {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
	background: none;
	border: none;
}

#render-style-dropdown > div > ul > li > a {
	text-shadow: none;
}

.renderStyleColor {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 10px;
	pointer-events: all;
}

#renderStyleModalBody > div > div.close-button {
	display: none;
}

.renderStyleMenu .panel-body > div:first-child {
	width: 100%;
}

#renderStyle-dropdown {
	width: 100%;
	font-size: 14px;
}

#render-style-dropdown {
	padding: 10px 0;
}

#render-style-dropdown .btn-group {
	width: 100%;
}

.disabled-icon {
	opacity: 0.25;
}

.groupMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: inline-block;
	float: left;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
	width: 550px;
}

.groupMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.groupMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
}

.groupMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.groupMenu span {
	white-space: nowrap;
	margin-right: auto;
    margin-left: auto;
	display: table;
}

.groupMenu .glyphicon {
	cursor: pointer; cursor: hand;
}

.groupMenu input {
	background: none;
	border:none;
	border-bottom: 1px solid #ffffff;
	width: 25px;
}

.groupMenu .Select {
	width: 130px;
}

.groupMenu .Select .Select-control {
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	border-bottom:1px solid #ffffff !important;
	border-radius: 0;
}