html, body {
	position: absolute;
	background: none !important;
	width:100%;
	height:100%;
	font-family: 'lato-thin-webfont' !important;
	width:100%;
	height:100%;
}

.hidden {
	display: none;
}

h5 {
	font-size: 16px !important;
}


.container-no-padding {
	padding: 0;
	overflow: hidden;
}

.row-no-margin {
	margin: 0;
}

.row-half-height {
	height: 50%;
}

.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.panel-heading {
	padding: 5px 10px;
}

.panel-body {
	padding: 10px;
}

.popover-content {
	padding: 0;
}

.Select {
	min-width: 150px;
}

#consoleOutput {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: scroll;
	opacity: 0.5;
	pointer-events: none;
}

#App {
	min-height: 100%;
	height: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}

#page {
    height: 100%;
    position: absolute;
    padding: 10px;
    margin: 0;
		width: 100%;
		pointer-events: none;
		display: block;
		/* display: none; */
}

#backgrounds {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
}

.bgVideo {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
}

#scenes {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;
	padding:0;
	margin: 0;
}

#interfaces {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
}

#interfaceContainer {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
}

#startOverlay {
	display: none;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	top:0;
	background-color: #000000;
	position: absolute;
	z-index: 1000000;
	/* background-image: url('./../images/title.jpg'); */
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#startOverlay h1 {
	text-align: center;
	margin-top: 20%;
}

#loadingIcon {
	width:400px;
	height:400px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#blackOverlay {
	display: none;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	top:0;
	background-color: black;
	position: absolute;
	z-index: 1000000;
}


#endOverlay {
	display: none;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	top:0;
	background-color: white;
	position: absolute;
	z-index: 1000000;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	/* background-image: url('./../images/credits.jpg'); */
}

#endOverlay h1 {
	text-align: center;
	margin-top: 20%;
}

.debugBody .react-dat-gui {
	min-width: 460px;
}

.react-list-select {
	display: inline-block;
	position: relative;
	outline: none;
}

.react-list-select--item {
	padding: 0.3em 0.6em;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.react-list-select--item.is-selected {
	-webkit-user-select: inherit;
	-moz-user-select: inherit;
	-ms-user-select: inherit;
	-o-user-select: inherit;
	user-select: inherit;
}

.react-list-select--item.is-disabled {
	cursor: default;
}

.react-list-select {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

/* Add some style to the list */

.react-list-select {
	background: #fafafa;
	border: 1px solid #cacaca;
	margin-right: 0.5em;
}
.react-list-select--item.is-selected {
	background: #d7e7ff;
}
.react-list-select:focus .react-list-select--item.is-focused::before,
.react-list-select:focus .react-list-select--item.is-focused::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 2px;
	background: #79b9ff;
}
.react-list-select:focus .react-list-select--item.is-focused::before {
	left: 0;
}
.react-list-select:focus .react-list-select--item.is-focused::after {
	right: 0;
}
.react-list-select--item.is-disabled {
	color: #afafaf;
}

.dropzone {
	width: 100%;
	position: relative;
	height: 200px;
	border: 2px dashed #cacaca;
	border-radius: 5px;
	background: #fafafa;
	cursor: pointer;
}

.dropzoneLoaded {
	border-color: #79b9ff;
}

.dropzoneActive {
	border-color: #00FF00;
}

.dropzoneReject {
	border-color: #FF0000;
}

.chooserTitle h5 {
	width: 100%;
	text-align: center;
	margin-top: 0;
}

.chooserHeader .modal-title {
	width: auto;
	display: flex;
	align-items: flex-end;
	padding-left: 158px;
}

.chooserHeader .modal-image {
	height: 25px;
	width: auto;
	margin-left: 5px;
}

.dropzone .fa-upload {
	margin-right: auto;
	margin-left: auto;
	display: table;
	margin-top: 35px;
	margin-bottom: 10px;
}

.dropzone p {
	text-align: center;
}

.BVHUploadButton {
	background: #79b9ff;	
}

#loadBVHRow {
	border-top: 1px solid #FFF;
}

#loadBVHRow h6 > span.fa {
	margin:0;
	float: right;
}

#loadBVHRow h6 {
	cursor: pointer;
}

#loadBVHRow_empty {
	border: none;
	padding-top: 0;
}

#loadBVHRow_empty span.fa {
	display: inline-block;
	margin-left: 5px;
}

#loadBVHRow_empty h6 {
	cursor: pointer;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}