/* #upperDisplay {
	position: absolute;
	top: 0;
	width: 100%;
	color: #FFFFFF;
	padding: 15px;
}

#upperDisplay > table {
	width: 100%;
} */


.cameraMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
}

.cameraMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.cameraMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.cameraMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.debugMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: inline-block;
	float: left;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
}

.debugMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.debugMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: left;
	width: 100%;
}

.debugMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

#stats {
	position: relative !important;
	z-index: 100000 !important;
}

.cameraMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.midiMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: inline-block;
	float: right;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
}

.midiMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.midiMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.midiMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.midiMenu .dropdown {
	padding-bottom: 10px;
}

.midiMenu .dropdown-menu > li > a {
	text-shadow: none;
}

.midiMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.midiMenu li {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
}

.midiMenu li > span {
	margin-left: 10px;
	cursor: pointer;
}

#midiTestButton {
	/* margin-right: auto;
	margin-left: auto;
	display: block; */
}

.inputMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: inline-block;
	float: right;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
}

.inputMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
}

.inputMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: right;
	width: 100%;
}

.inputMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.inputMenu .dropdown {
	padding-bottom: 10px;
}

.inputMenu .dropdown-menu > li > a {
	text-shadow: none;
}

.inputMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.inputMenu li {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
}

.inputMenu li > span {
	margin-left: 10px;
	cursor: pointer;
}

.arMenu {
	position: relative;
	color: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	display: table;
	background: rgba(0, 0, 0, 0.125);
	pointer-events: all;
	margin-right: auto;
	margin-left: auto;
}

.arMenu .panel-heading {
	background: none;
	color: #FFFFFF;
	border: none;
	text-align: center;
}

.arMenu h5 {
	margin: 0;
	padding: 0;
	text-shadow: none;
	display: inline-block;
	text-align: center;
}

.arMenu .panel-collapse {
	border-top: 1px solid #FFFFFF;
}

.arMenuBody button {
	width: 80px;
}

.arMenuBody button i, .arMenuBody button img {
	position: relative;
    display: block;
    width: 100%;
}